{% extends 'static/base.twig' %}

{% block content %}

    {#----------------------------------------------------------------------------#}
    {#----------------------------------------------------------------------------#}
    {# HOUSEHOLD INFORMATION #}
    {#----------------------------------------------------------------------------#}
    {#----------------------------------------------------------------------------#}

    <div id="info">
        <h1>Household Information</h1>
        <table>
            {% if true %}
                <tr>
                    <td>First Name</td>
                    <td>{{ first_name }}</td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td>{{ last_name }}</td>
                </tr>
                <tr>
                    <td>Phone Number</td>
                    <td>{{ phone_number }}</td>
                </tr>
                <tr>
                    <td>Work Status</td>
                    <td>{{ work_status }}</td>
                </tr>
                <tr>
                    <td>Welfare Number</td>
                    <td>{{ welfare_number }}</td>
                </tr>
                <tr>
                    <td>Medicare</td>
                    <td>{{ medicare }}</td>
                </tr>
                <tr>
                    <td>Referal</td>
                    <td>{{ referal }}</td>
                </tr>
                <tr>
                    <td>Marital</td>
                    <td>{{ marital }}</td>
                </tr>
                <tr>
                    <td>Origin</td>
                    <td>{{ origin }}</td>
                </tr>

                <tr>
                    <td>Address</td>
                    <td>{{ address }}</td>
                </tr>
                <tr>
                    <td>Apt Number</td>
                    <td>{{ appt_number }}</td>
                </tr>

                <tr>
                    <td>City</td>
                    <td>{{ city }}</td>
                </tr>
                <tr>
                    <td>Province</td>
                    <td>{{ province }}</td>
                </tr>
                <tr>
                    <td>Postal Code</td>
                    <td>{{ postal_code }}</td>
                </tr>
            {% endif %}
        </table>
    </div>

{% endblock content %}