{% block viewRegis %}
<fieldset class="regis2">
        <legend>
            <h1> 
                {{household["first-name"]|capitalize}} {{household["last-name"]|capitalize}}
            </h1>
        </legend>

        <div style = "pers" >
            <ul>
                <li><input type="view" name="Main Language" placeholder="{{household["language"]}}" disabled="true" />
                <li><input type="view" name="work_status" placeholder="{{household["workStatus"]}}" disabled="true" />
                <li><input type="view" name="welfare_number" placeholder="{{household["welfare-number"]}}" disabled="true" />
                <li><input type="view" name="phone_number" placeholder="{{household["phone-number"]}}" disabled="true" />
                <li><input type="view" name="medicare_num" placeholder="{{household["medicare-number"]}}" disabled="true" />
                <li><input type="view" name="referal" placeholder="{{household["referral"]}}"disabled="true" />
                <li><input type="view" name="marital" placeholder="{{household["marital"]}}" disabled="true" />
                <li><input type="view" name="origin" placeholder="{{household["origin"]}}" disabled="true" />
                <br />
			</ul>
		</div>
        <div class="address2">
		<h3>Address</h3>
			<ul>
                <li><input type="view" name="address" placeholder="{{household["street"]}}" disabled="true" />
                <li><input type="view" name="apt" placeholder="{{household.apt-number}}" disabled="true" />
                <li><input type="view" name="city" placeholder="{{household["city"]}}" disabled="true" />
                <li><input type="view" name="province" placeholder="{{household["province"]}}" disabled="true" />
                <li><input type="view" name="postal" placeholder="{{household["postal-code"]}}" disabled="true" />
            </ul>
			</ul>
        </div>
</fieldset>
    {% endblock viewRegis %}
