{% extends 'static/base.twig' %}

{% block content %}

{#----------------------------------------------------------------------------#}
{#----------------------------------------------------------------------------#}
{# HOT OFFER SECTION #}
{#----------------------------------------------------------------------------#}
{#----------------------------------------------------------------------------#}

    {% if hot_offers %}
    <div id="index">
        <h1>Great Hot Offers Lesser Than ${{ hot_offer_threshold }}!</h1>
        <table name="offer-table">
            <tr>
                <th>View
                <th>Owner
                <th>Type
                <th>Category
                <th>Title
                <th>Price
            </tr>
            {% for offer in hot_offers %}
                <tr>
                    <td>
                        <div class="tiptip">
                            <a href="index.php?offer&id={{ offer.id }}"
                               class="button" title="View Offer">
                                <span class="icon icon113">View</span></a>
                        </div>
                    <td>
                        {% if is_logged_in %}
                            <a href="index.php?member&id={{ offer.owner_id }}">
                                {{ offer.owner }}
                            </a>
                        {% else %}
                            {{ offer.owner }}
                        {% endif %}
                    </td>
                    <td><a href="#">{{ offer.type }}</a>
                    <td><a href="#">{{ offer.category }}</a>
                    <td>{{ offer.title }}
                    <td>$ {{ offer.price|number_format('2', '.', ' ') }}
                </tr>
            {% endfor %}
        </table>
    {% endif %}


{#----------------------------------------------------------------------------#}
{#----------------------------------------------------------------------------#}
{# GIVEAWAY SECTION #}
{#----------------------------------------------------------------------------#}
{#----------------------------------------------------------------------------#}

    {% if giveaways %}
    <hr /><h1>Amazing Giveaways</h1>
        <table name="offer-table">
            <tr>
                <th>View
                <th>Owner
                <th>Type
                <th>Category
                <th>Title
            </tr>
            {% for offer in giveaways %}
                <tr>
                    <td>
                        <div class="tiptip">
                            <a href="index.php?offer&id={{ offer.id }}"
                               class="button" title="View Offer">
                                <span class="icon icon113">View</span></a>
                        </div>
                    <td>
                        {% if is_logged_in %}
                            <a href="index.php?member&id={{ offer.owner_id }}">
                                {{ offer.owner }}
                            </a>
                        {% else %}
                            {{ offer.owner }}
                        {% endif %}
                    </td>
                    <td><a href="#">{{ offer.type }}</a>
                    <td><a href="#">{{ offer.category }}</a>
                    <td>{{ offer.title }}
                </tr>
            {% endfor %}
        </table>
    {% endif %}

{#----------------------------------------------------------------------------#}
{#----------------------------------------------------------------------------#}
{# MESSAGE SECTION #}
{#----------------------------------------------------------------------------#}
{#----------------------------------------------------------------------------#}

    <hr /><h1>Messages</h1>
    <p>Welcome to Wiz. Trade. The wisest trading site on the intraweb and beyond.</p>

{#----------------------------------------------------------------------------#}
{#----------------------------------------------------------------------------#}
{# ALL OFFERS SECTION #}
{#----------------------------------------------------------------------------#}
{#----------------------------------------------------------------------------#}


    {% if offers %}
        <hr /><h1>All Offers</h1>
        <table name="offer-table">
            <tr>
                <th>View
                <th>Owner
                <th>Type
                <th>Category
                <th>Title
                <th>Price
            </tr>
            {% for offer in offers %}
                <tr>
                    <td>
                        <div class="tiptip">
                            <a href="index.php?offer&id={{ offer.id }}"
                               class="button" title="View Offer">
                            <span class="icon icon113">View</span></a>
                        </div>
                    <td>
                        {% if is_logged_in %}
                            <a href="index.php?member&id={{ offer.owner_id }}">
                                {{ offer.owner }}
                            </a>
                        {% else %}
                            {{ offer.owner }}
                        {% endif %}
                    </td>
                    <td><a href="index.php?search&type_name={{offer.type}}">{{ offer.type }}</a>
                    <td><a href="index.php?search&category_id={{offer.category_id}}">{{ offer.category }}</a>
                    <td>{{ offer.title }}
                    <td>$ {{ offer.price|number_format('2', '.', ' ') }}
                </tr>
            {% endfor %}
        </table>
    {% endif %}


{#----------------------------------------------------------------------------#}
{#----------------------------------------------------------------------------#}
{# OFFER SECTION #}
{#----------------------------------------------------------------------------#}
{#----------------------------------------------------------------------------#}
    {% if garage_sales %}
        <hr /><h1>Authentic Garage Sales</h1>
        <table name="garage-sales-table">
            <tr>
                <th>View
                <th>Owner
                <th>Type
                <th>Category
                <th>Title
                <th>Price
            </tr>
            {% for offer in garage_sales %}
                <tr>
                    <td>
                        <div class="tiptip">
                            <a href="index.php?offer&id={{ offer.offer_id }}"
                               class="button" title="View Offer">
                                <span class="icon icon113">View</span></a>
                        </div>
                    <td>
                        {% if is_logged_in %}
                            <a href="index.php?member&id={{ offer.owner_id }}">
                                {{ offer.owner }}
                            </a>
                        {% else %}
                            {{ offer.owner }}
                        {% endif %}
                    </td>
                    <td><a href="index.php?search&type_name={{offer.type}}">{{ offer.type }}</a>
                    <td><a href="index.php?search&category_id={{offer.category_id}}">{{ offer.category }}</a>
                    <td>{{ offer.title }}
                    <td>$ {{ offer.price|number_format('2', '.', ' ') }}
                </tr>
            {% endfor %}
        </table>
    {% endif %}

</div>
{% endblock content %}