<!doctype html>
<html lang="en">
<head>

	<title>
		{% include 'static/title.twig' %}
	</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <script type="text/javascript" src="{{ syspath }}assets/js/jquery.js"></script>
    <script type="text/javascript" src="{{ syspath }}assets/js/analytic.js"></script><!-- ANALYTIC SCRIPT, NOT BAREWRAPPER -->
    <script type="text/javascript" src="{{ syspath }}assets/js/func.js"></script> <!-- NOT COFFEESCRIPTED SCRIPT... -->
    <script type="text/javascript" src="{{ syspath }}assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ syspath }}assets/js/noty/jquery.noty.js"></script>
    <script type="text/javascript" src="{{ syspath }}assets/js/noty/layouts/bottom.js"></script>
    <script type="text/javascript" src="{{ syspath }}assets/js/noty/layouts/bottomRight.js"></script>
    <script type="text/javascript" src="{{ syspath }}assets/js/noty/themes/default.js"></script>
    <script type="text/javascript" src="{{ syspath }}assets/js/mousetrap.js"></script>
    <script type="text/javascript" src="{{ syspath }}assets/js/validate.js"></script>
    <script type="text/javascript" src="{{ syspath }}assets/js/moment.js"></script>
    <script type="text/javascript" src="{{ syspath }}assets/js/validation.js"></script>
    <script type="text/javascript" src="{{ syspath }}assets/js/keybinding.js"></script>
    <script type="text/javascript" src="{{ syspath }}assets/js/ajax.js"></script>
    <script type="text/javascript" src="{{ syspath }}assets/js/dynamic.js"></script>
    <script type="text/javascript" src="{{ syspath }}assets/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="{{ syspath }}assets/js/bootstrap-timepicker.js"></script>
    <script type="text/javascript" src="{{ syspath }}assets/js/tablednd.js"></script>
    {#<script type="text/javascript" src="{{ syspath }}assets/js/kbsc.js"></script>#}

    <link rel="stylesheet" type="text/css" href="{{ syspath }}assets/css/bootstrap.css" media="screen"/>

    {% if theme != '0' %}
        <link rel="stylesheet" type="text/css" href="{{ syspath }}assets/css/bootstrap.darkstrap.css" media="screen"/>
    {% else %}
        <link rel="stylesheet" type="text/css" href="" media="screen"/>
    {% endif %}
    {#<link rel="stylesheet" type="text/css" href="{{ syspath }}assets/css/bootstrap-reponsive.css" media="screen"/>#}
    <link rel="stylesheet" type="text/css" href="{{ syspath }}assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ syspath }}assets/css/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="{{ syspath }}assets/css/bootstrap-timepicker.css" />
    <link rel='icon' type='image/x-icon' href='{{ syspath }}assets/img/web/favicon.ico'>

    <link rel= "stylesheet" type="text/css" href="{{ syspath }}assets/css/appointmentFulfillmentSwitchButton.css" />


	{#<link href='http://fonts.googleapis.com/css?family=Rambla|Anaheim' rel='stylesheet' type='text/css'>#}


</head>
<body>
    <div class="container-fluid">
        <div class="row-fluid">
            {#{% if login is defined and login %}#}
                {# ATTENTION! THIS INDEX BLOCK CONTAINS GLOBAL FORMATTING #}

            {#{% else %}#}

            {# -------------------------------------------- #}
            {# ATTENTION, BLOCKS MANAGE ITS OWN SPAN NOW!!! #}
            {# -------------------------------------------- #}
                    {% block content %}{% endblock %}

                    {% block left1 %}{% endblock %}

                    {% block left2 %}{% endblock %}



            {#{% endif %}#}
        </div>
    </div>

    {% include 'navigation.bar.twig' %}

    {% block footer %}{% endblock %}

</body>
</html>

