<!doctype html>



<html lang="en">
<head>

	<title>
		{% include 'static/title.twig' %}
	</title>

    <script type="text/javascript" src="{{ syspath }}aassets/js/jquery.js"></script>
    <script type="text/javascript" src="{{ syspath }}aassets/js/jquery.tiptip.js"></script>
    <script type="text/javascript" src="{{ syspath }}aassets/js/g/raphael.js"></script>
    <script type="text/javascript" src="{{ syspath }}aassets/js/g/ico.min.js"></script>
    <script type="text/javascript" src="{{ syspath }}aassets/js/noty/jquery.noty.js"></script>
    <script type="text/javascript" src="{{ syspath }}aassets/js/noty/layouts/bottomRight.js"></script>
    <script type="text/javascript" src="{{ syspath }}aassets/js/noty/layouts/center.js"></script>
    <script type="text/javascript" src="{{ syspath }}aassets/js/noty/themes/default.js"></script>
    <script type="text/javascript" src="{{ syspath }}aassets/js/validate.js"></script>
    <script type="text/javascript" src="{{ syspath }}aassets/js/moment.js"></script>
    <script type="text/javascript" src="{{ syspath }}aassets/js/script.js"></script>
    <script type="text/javascript" src="{{ syspath }}aassets/js/ajax.js"></script>
	<script type="text/javascript" src="{{ syspath }}aassets/js/kbsc.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ syspath }}assets/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="{{ syspath }}assets/css/button-style.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ syspath }}assets/css/tiptip.css" />

    <!--[if lte IE 8 ]> <link rel="stylesheet" type="text/css" href="{{ syspath }}aassets/css/style.css" /> <![endif]-->

    <!--[if !IE]><!-->
        <link rel="stylesheet" type="text/css" href="{{ syspath }}assets/css/style.css" />
     <!--<![endif]-->

	<link rel='icon' type='image/x-icon' href='{{ syspath }}assets/img/web/favicon.ico'>

	<link href='http://fonts.googleapis.com/css?family=Rambla|Anaheim' rel='stylesheet' type='text/css'>


</head>
<body>
	<div id="header">{% include 'static/header.twig' %}</div>
    <div id="content">

		{% block content %}{% endblock %}

	</div>
    <div id="footer">{% include 'static/footer.twig' %}</div>

</body>
</html>

