{% block viewRegis %}
<fieldset class="regis2">
        <legend><h1> Registration </h1></legend>

        <div style = "pers" >
            <h3>Personal Information</h3>
            <ul>

                <li><input type="view" name="first_name" placeholder="{{household["firstName"]}}" disabled="true"/>
                <li><input type="view" name="last_name" placeholder="{{household["lastName"]}}" disabled="true" />
                <li><input type="view" name="Main Language" placeholder="{{household["language"]}}" disabled="true" />
                <li><input type="view" name="work_status" placeholder="{{household["workStatus"]}}" disabled="true" />
                <li><input type="view" name="welfare_number" placeholder="{{household["welfareNumber"]}}" disabled="true" />
                <li><input type="view" name="phone_number" placeholder="{{household["phoneNumber"]}}" disabled="true" />
                <li><input type="view" name="medicare_num" placeholder="{{household["medicareNum"]}}" disabled="true" />
                <li><input type="view" name="referal" placeholder="{{household["referral"]}}"disabled="true" />
                <li><input type="view" name="marital" placeholder="{{household["marital"]}}" disabled="true" />
                <li><input type="view" name="origin" placeholder="{{household["origin"]}}" disabled="true" />

                <br />

			</ul>
		</div>
        <div class="address2">
		<h3>Address</h3>
			<ul>
				<li><input type="view" name="address" placeholder="{{household["street"]}}" disabled="true" />
				<li><input type="view" name="apt" placeholder="{{household["apt"]}}" disabled="true" />
				<li><input type="view" name="city" placeholder="{{household["city"]}}" disabled="true" />
				<li><input type="view" name="province" placeholder="{{household["province"]}}" disabled="true" />
				<li><input type="view" name="postal" placeholder="{{household["postal"]}}" disabled="true" />
			</ul>
            <button class="action blue submit regisPos">
            <span class="label">Edit</span>
            </button>
        </div>

</fieldset>

    {% endblock viewRegis %}
