{% block address %}
    <fieldset>
        <legend>Address</legend>
        <div class="controls controls-row">
            <input class="span2" type="text" maxlength="8"
                   name="house-number" placeholder="Number" value="{{ household["house-number"] }}"/>
            <input class="span4" type="text"
                   name="street" placeholder="Street" value="{{ household["street"] }}"/>
            <input class="span3" type="text" maxlength="8"
                   name="apt-number" placeholder="Apartment" value="{{ household["apt-number"]}}"/>
        </div>

        <div class="controls controls-row">
            <input class="span3" type="text" maxlength="7"
                   name="postal-code" placeholder="Postal Code" value="{{ household["postal-code"] }}"/>
            <input class="span6" type="text" maxlength="20"
                   name="district" placeholder="District" value="{{ household["district"] }}"/>
        </div>
    </fieldset>
{% endblock address %}