{% block appointment_modal %}
    <div id="appointment-modal"
         class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
            <h3>Appointments</h3>
        </div>

        <div class="modal-body">
            <table class="table table-striped">
                <tr>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                </tr>
                <tr>
                    <td>{{ "now"|date('l', timezone="America/Montreal") }}</td>
                    <td>{{ "tomorrow"|date('l', timezone="America/Montreal") }}</td>
                    <td>{{ "2days"|date('l', timezone="America/Montreal") }}</td>
                    <td>{{ "3days"|date('l', timezone="America/Montreal") }}</td>
                    <td>{{ "4days"|date('l', timezone="America/Montreal") }}</td>
                    <td>{{ "5days"|date('l', timezone="America/Montreal") }}</td>
                    <td>{{ "6days"|date('l', timezone="America/Montreal") }}</td>
                </tr>
                <tr align=>
                    <td>{{ "now"|date('F jS', timezone="America/Montreal") }}</td>
                    <td>{{ "tomorrow"|date('F jS', timezone="America/Montreal") }}</td>
                    <td>{{ "2days"|date('F jS', timezone="America/Montreal") }}</td>
                    <td>{{ "3days"|date('F jS', timezone="America/Montreal") }}</td>
                    <td>{{ "4days"|date('F jS', timezone="America/Montreal") }}</td>
                    <td>{{ "5days"|date('F jS', timezone="America/Montreal") }}</td>
                    <td>{{ "6days"|date('F jS', timezone="America/Montreal") }}</td>
                </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><button type="button" class="btn btn-primary" data-dismiss="modal">Christmas Basket<br />69/96</td>
                        <td><button type="button" class="btn btn-primary">Back to School<br />4/10</td>
                        <td><button type="button" class="btn btn-primary">Food Basket<br />1/50</button><button type="button" class="btn btn-primary">Tax Stuff<br />1/50</button></td>
                        <td>
                        </td>
                        <td></td>
                    </tr>
            </table>
            <div class="pagination pagination-large" align="center">
              <ul>
                <li><a href="#"><<</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">>></a></li>
              </ul>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true"> Close</button>
        </div>
    </div>
{% endblock %}
