{% extends 'static/base.twig' %}

    {% block content %}

    
      
        <h2>{{event.name}}</h2>
    
          


        
          
            <table class="table table-hover">
              <th> <big>{{  slot.name}}:    {{slot.startTime}}-{{slot.endTime}}</big> {% set maxparticipants = slot.capacity %}
                    {% set actualparticipants = slot.participants|length %}
                    {% set availablespots = maxparticipants - actualparticipants %}
                    {% set labelcolor = 'success' %}
                    {% if availablespots <= maxparticipants / 10 %}
                        {% set labelcolor = 'important' %}
                    {% elseif availablespots <= maxparticipants / 2 %}
                        {% set labelcolor = 'warning' %}
                    {% endif %}
                    
                    
                  <span class="label label-{{ labelcolor }} pull-right">
                  <i class="icon-user icon-white"></i> {{ actualparticipants }}/{{maxparticipants }}
                  </span>
              </th>
                      <thread>
                          <tr>
                              <th>Participant Name</th>
                              <th>Medicare</th>
                              <th>Checked In</th>

                              
                          </tr>
                      </thread>
                      <tobody>
                      
                        
                                {% for participant in slot['participants'] %}
                                  <tr>
                                      <td>{{ participant['first-name'] }} {{ participant['last-name'] }} {{participant['gender']}}</td>
                                      <td>{{ participant['medicare-number']}}
                                      </td>
                                      <td>
                                        <div id="event-occurrence" class="btn-group " data-toggle="buttons-radio">
                                        <button type="button" class="btn btn-success btn-large" data-value="1">YES</button>
                                        <button type="button" class="btn btn-danger btn-large" data-value="1">NO</button>
                                      </div>
                                      </td>
                                      
                                  </tr>
                                  {% endfor %}
                        
                      </tobody>

                </table>

         
          
            
    {% endblock content %}
