{% extends 'static/base.twig' %}
    {% block content %}
        <h1>{{event.name}}</h1>
        {% set maxparticipants = slot.capacity %}
        {% set actualparticipants = slot.participants|length %}
        {% set availablespots = maxparticipants - actualparticipants %}
        {% set labelcolor = 'success' %}
        {% if availablespots <= maxparticipants / 10 %}
            {% set labelcolor = 'important' %}
        {% elseif availablespots <= maxparticipants / 2 %}
            {% set labelcolor = 'warning' %}
        {% endif %}

        <span class="label label-{{ labelcolor }}">
            <i class="icon-user icon-white"></i> {{ actualparticipants }}/{{maxparticipants }}
        </span>

        <h4>{{ slot.name }}: &nbsp;&nbsp; {{slot.startTime}}-{{slot.endTime}}</h4>

            <table class="table table-hover table-striped">
                      <thread>
                          <tr>
                              <th><h4>Participant Name</h4></th>
                              <th><h4>Gender</h4></th>
                              <th><h4>Medicare</h4></th>
                              <th><h4>Checked In</h4></th>
                          </tr>
                      </thread>
                      <tobody>


                                {% for participant in slot['participants'] %}
                                  <tr>
                                      <td><h3>{{ participant['first-name'] }} {{ participant['last-name'] }}</h3></td>
                                      <td><h3>{{participant['gender']}}</h3></td>
                                      <td><h3>{{ participant['medicare-number']}}</h3></td>
                                      <td>


                                          <div class="onoffswitch">
                                              <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                                              <label class="onoffswitch-label" for="myonoffswitch">
                                                  <div class="onoffswitch-inner"></div>
                                                  <div class="onoffswitch-switch"></div>
                                              </label>
                                          </div>
                                        
                                      </td>

                                  </tr>
                                  {% endfor %}

                      </tobody>

                </table>


    {% endblock content %}
                                    