{% extends 'static/base.twig' %}
    {% block content %}

    <table class="table table-hover">


            <h2>List of Attendees</h2>
              <thead>
                <tr>
                  <th>Last Name</th>
                  <th>First Name</th>
                  <th>Gender</th>
                  <th>Medicare Number</th>
                  <th>Checked In</th>
                </tr>
              </thead>
              
              
              {% for participant in participants %}
                <tbody>
                    <tr>
                      
                      <td><h3>{{ participant.lastName }}</h3></td>
                      <td><h3>{{ participant.firstName }}</h3></td>
                      <td><h3>{{ participant.gender }}</h3></td>
                      <td><h3>{{ participant.medicare }}</h3></td>
                      <td>
                           <div class="onoffswitch" participantId={{participant.id}} timeslotid={{participant.timeSlotId}}>
                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch-{{participant.id}}" {{(participant.attend) ? 'checked="checked"' : ''}}>
                                <label class="onoffswitch-label" for="myonoffswitch-{{participant.id}}">
                                    <div class="onoffswitch-inner"></div>
                                    <div class="onoffswitch-switch"></div>
                                </label>
                          </div>

                      </td>

                    </tr>

                </tbody>

              {% endfor %}
                  
                                
    </table>



    {% endblock content %}

{% block footer %}
<script type="text/javascript">
$(document).ready(function(){
    $('div.onoffswitch').click(function(){

     var participantId = $(this).attr('participantId');
     var timeSlotId = $(this).attr('timeslotid');

      jQuery.ajax
      ({
        url: '/todaysevents/'+ participantId +'/' + timeSlotId,
        type: 'PUT'
      }); 
    });
 });
</script>

{% endblock footer %}
                                    