{% block create_event_part_twig %}
    <fieldset>
        <div class="controls controls-row" id="name-row">
            <input class="span10" type="text" name="event-name" placeholder="Event name" value="{{ event["name"] }}{{ currentTemplate["name"] }}"/>
           
            <input class="span2" type="text" name="event-capacity" maxlength="12" placeholder="Capacity" value="{{ event["capacity"] }}{{ currentTemplate["capacity"] }}"/>

			{#
            <div class="control controls-row">
                        <div class="alert">
                            <textarea class="span12" style="resize:none" rows="6" name="description" placeholder="Description...">{{ event["description"] }}{{ currentTemplate["description"] }}</textarea>
                        </div>
            </div>
			#}
			

        </div>
    </fieldset>
{% endblock create_event_part_twig %}