{% extends 'static/base.twig' %}

{% block content %}
    <div class="span6">
        {% for error in errors %}
            {% block error %}
                <div id="error">{{ error }}</div></br>
            {% endblock %}
        {% endfor %}

        <form action="{{ apppath }}household" method="POST" id="view-household-form">

            <legend class ='controls controls-row'>
                <div class='pull-left'>
                    ID: {{ household["household_id"] }}
                </div>
                <div class='pull-right'>
                    {%  for flag in flags %}  
                        {% set count = 0 %}
                               <span class="label label-{{ flag["flag-color"] | lower }}">
                                    <i class="icon-tag icon-white"></i> {{ flag["flag-meaning"] }}
                                </span>
                            {% for flagn_number in flagn %}
                                {{ flag-number["flagn"] }}
                            {% endfor %}
                        {% set count = count + 1 %}
                    {% endfor %}
                </div>
            </legend>

            {% include 'base.form.part.twig' %}

            {% include 'information.form.part.twig' %}

            {% include 'address.form.part.twig' %}


            <legend>Action</legend>
            <div class="btn-toolbar">
                <button class="btn btn-warning btn-large" data-toggle="button" class-toggle="btn-state" name="modify-household-btn" type="button">
                    <i class="icon-edit icon-white"></i> Modify
                </button>

                <button class="btn btn-danger btn-large"
                        name="deactivate-household-btn" type="button">
                    <i class="icon-remove icon-white"></i> Deactivate
                </button>

                <button class="btn btn-primary btn-large"
                        data-toggle="modal" data-target="#add-flag-modal">
                    <i class="icon-flag icon-white"></i> Flag
                </button>
               
            </div>

            <input type="hidden" name="household-id" value="{{ household["household_id"] }}"/>
            <input type="hidden" name="member-id" value="{{ household["member-id"] }}"/>

        </form>

        {% include 'addmember.modal.twig' %}
        {% include 'addflag.modal.twig' %}
        {% include 'appointment.modal.twig' %}
    </div>
{% endblock content %}

{% block left1 %}
    <div class="span3">
        <legend>Dependents</legend>
        <div class="well no-padding-well" id="dependents-well">
            <ul class="nav nav-list" id="dependent-list">
                <li class="{{ household.members.principal.active ? "active" : '' }}">
                    <a href="{{ apppath }}household/{{ household.household_id}}/{{ household.members.principal["member-id"]}}">
                         <i class="icon-home"></i> 
                         {{household.members.principal["first-name"] }} {{ household.members.principal["last-name"]}}
                     </a>
                </li>
                {% for member in household.members %}
                    {% if not member.principal %}
                            <li class="{{ member.active ? "active" : '' }}">
                                <a href="{{ apppath }}household/{{ household.household_id}}/{{ member["member-id"]}}">
                                    <i class="icon-user"></i> 
                                    {{member["first-name"] }} {{ member["last-name"]}}
                                </a>
                            </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
            <div class="well">
            <button class="btn btn-success btn-block btn-large" 
                        id="create-member-submit-btn"
                        name="create-member-submit-btn" type="button"
                        data-toggle="modal" data-target="#add-member-modal">
                    <i class="icon-plus icon-white"></i><i class="icon-user icon-white"></i> Add New Member
            </button>
            <button class="btn btn-success btn-block btn-large" 
                        id=""
                        name="" type="button"
                        data-toggle="modal" data-target="#appointment-modal"><i class="icon-plus icon-white"></i><i class="icon-time icon-white"></i> Make Appointment
            </button>
<!--             <form action="{{ apppath }}appointment/{{ household["member-id"]}}" method="GET" >
                <input type="hidden" name="type" value="remove">
                <input type="submit" value="Delete Appointment">
            </form> -->
            </div>
    </div>
{% endblock left1 %}

{% block left2 %}
    <div class="span3">
        <div class="tabbable tabs-below">
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <legend>Events</legend>

                    <div class="accordion" id="accordion2">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                    Collapsible Group Item #1
                                </a>
                            </div>
                            <div id="collapseOne" class="accordion-body collapse in">
                                <div class="accordion-inner">
                                    Anim pariatur cliche...
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane" id="tab2">
                    <legend>Flags</legend>
                    <div class="accordion" id="flag-accordion">
                        {% set i = 0 %}
                        {%  for flag in flags %}                    
                            {% set i = i + 1 %}
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    {# TSK TSK TSK! QUICK STYLE HACK! MUST CORRECT! #}
                                    <div style="padding: 0px; margin: 0px;">
                                        <a class="accordion-toggle" data-toggle="collapse"
                                           data-parent="#flag-accordion" href="#collapse{{ i }}">
                                            <strong>{{ "now"|date("d-m-y") }}</strong>{# Date is not displaying
                                            properly here #}
                                            <div class="pull-right">
                                                <span class="label label-{{ flag["flag-color"] | lower }}">
                                                    <i class="icon-tag icon-white"></i> {{ flag["flag-meaning"] }}</span>
                                            </div>

                                        </a>
                                    </div>
                                </div>

                                <div id="collapse{{ i }}" class="accordion-body collapse">
                                    <div class="accordion-inner" style="padding: 0px">                         
                                        <div class="alert alert-{{ flag["alert-color"] | lower }}" style="margin: 0px;">
                                            <button type="button" style="margin-top: 5px;"
                                                    class="close flag-delete-btn" id="flag-delete-btn-{{ i }}">
                                                <i class="icon-remove"></i></button>
                                            <form class="form-horizontal" action="{{ apppath }}flag"
                                                name="flag-delete-form" id="flag-delete-{{ i }}">
                                                <input type="hidden" name="flag-id" value="{{ flag["flag-id"] }}"/>
                                                <input type="hidden" name="member-id" value="{{ household["member-id"] }}"/>
                                                <input type="hidden" name="household-id" value="{{ household.household_id}}"/>
                                            </form>
                                            <p>{{ flag["message"] }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <ul class="nav nav-tabs">
                <li class="active">
                    <a id='tab1-toggle' href="#tab1" data-toggle="tab">
                        <i class="icon-calendar"></i> Events
                    </a>
                </li>
                <li>
                    <a id='tab2-toggle' href="#tab2" data-toggle="tab">
                        <i class="icon-flag"></i> Flags
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock left2 %}
