{% extends 'static/base.twig' %}

{% block content %}


    {% for error in errors %}
        {% block error %}
            <div id="error">{{ error }}</div></br>
        {% endblock %}
    {% endfor %}

    <fieldset class="regis">
        <legend><h1>Registration </h1></legend>
        <form action="new" method="POST" name="household_create">
                <h3>Personal Information</h3>
                <ul>
                    <ul>
                        <li><input type="text" name="first_name" placeholder="First Name" /></li>
                        <li><input type="text" name="last_name" placeholder="Last Name" ></li>
                    </ul>

                    <ul>
                        <li>
                            <ul>
                                <li><input maxlength="3" size="3" type="text" name="sin-1" />
                                <li><input maxlength="3" size="3" type="text" name="sin-2" />
                                <li><input maxlength="3" size="3" type="text" name="sin-3" />
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li><input maxlength="4" size="4" name="mcare-1"
                                           type="text"/></li>
                                <li><input maxlength="4" size="4" name="mcare-2"
                                           type="text"/></li>
                                <li><input maxlength="4" size="4" name="mcare-3"
                                           type="text"/></li>
                            </ul>
                        </li>
                    </ul>
                    <li><input type="text" name="language" placeholder="Main Language" value=""/>
                    <li><input type="text" name="work_status" placeholder="Work Status" value="{{form["work_status"]}}"/>
                    <li><input type="text" name="welfare_number" placeholder="Welfare Number" value="{{form["welfare_number"]}}"/>
                    <li><input type="text" name="phone_number" placeholder="Phone Number" value="{{form["phone_number"]}}" />
                    <li><input type="text" name="medicare_num" placeholder="Medicare" value="{{form["medicare"]}}"/>
                    <li><input type="text" name="referral" placeholder="Referral" value="{{form["referral"]}}"/>
                    <br/>
                    <select name="gender">
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                    <br/>
                    <select name="marital">
                        <option disabled selected="selected">Marital Status</option>
                        <option>Single</option>
                        <option>Married</option>
                        <option>Divorced</option>
                        <option>Widowed</option>
                        <option>Common Law</option>
                    </select>

                    <br />

                    {% include 'static/origin.twig' %}

                    <br />
                </ul>
            </div>

            <div class="address">
                <h3>Address</h3>
                <ul>
                    <li><input type="text" name="address" placeholder="Address" value="{{form["address"]}}"/>
                    <li><input type="text" name="appt_number" placeholder="Apartment Number" value="{{form["apt_number"]}}" />
                    <li><input type="text" name="city" placeholder="City" value="{{form["city"]}}"/>
                    <li><input type="text" name="province" placeholder="Province" value="{{form["province"]}}"/>
                    <li><input type="text" name="postal_code" placeholder="Postal Code" value="{{form["postal_code"]}}"/>
                </ul>
            </div>

            <a href="index.php" class="button" title="Home">
                <span class="icon icon108"></span><span class="label"></span>
            </a>

            <button class="action blue submit">
                <span class="label">Create Household</span>
            </button>
        </form>
    </fieldset>
{% endblock content %}