{% extends 'static/base.twig' %}

{% block content %}

    {% for error in errors %}
        {% block error %}
            <div id="error">{{ error }}</div></br>
        {% endblock %}
    {% endfor %}

    <form action="{{ household["formAction"] }}" method="{{ household["httpMethod"] }}" name="household-create">
        <input type="hidden" name="household-id" value="{{ household["household_id"] }}"/>
        <fieldset>
            <legend>Create Household</legend>
            <div class="controls controls-row" id="name-row">
                <input class="span5" type="text" name="first-name"
                       placeholder="First Name" value="{{ household["firstName"] }}"/>
                <input class="span4" type="text" name="last-name"
                       placeholder="Last Name" value="{{ household["lastName"] }}"/>
                <input class="span3" type="text" name="phone-number" maxlength="12"
                       placeholder="Phone Number" value="{{ household["phoneNumber"] }}"/>
            </div>
        </fieldset>

        {% include 'information.form.part.twig' %}

        {% include 'address.form.part.twig' %}


        <legend>Action</legend>
        <div class="btn-toolbar">
            <button class="btn btn-success btn-large" id="create-member-submit-btn"
                    name="create-member-submit-btn" type="button"
                    data-toggle="modal" data-target="#confirm-member-before-saving-modal">
                <i class="icon-plus icon-white"></i><i class="icon-user icon-white"></i> Add Member
            </button>

            <button class="btn btn-warning btn-large"
                    name="modify-member-submit-btn" type="button">
                <i class="icon-edit icon-white"></i> Modify
            </button>

            <button class="btn btn-danger btn-large"
                    name="deactivate-household-btn" type="button">
                <i class="icon-remove icon-white"></i> Deactivate
            </button>
            
            {# <input type="submit" value="Submit">  #}      
        </div>
        
        {% include 'addmember.modal.twig' %}

    </form>

{% endblock content %}


{# This part should be auto generated #}

{% block left1 %}
    <legend>ID: HH000001</legend>
    <ul class="nav nav-pills nav-stacked" id="dependent-list">
        <li class="active"><a href="#"><i class="icon-user icon-white"></i> Steve Gourgue</a></li>
        <li><a href="#"><i class="icon-home"></i> Charles Yang</a></li>
        <li><a href="#"><i class="icon-user"></i> Wais Khedri</a></li>
        <li><a href="#"><i class="icon-user"></i> Saud Musafer</a></li>
        <li><a href="#"><i class="icon-user"></i> Mike Pham</a></li>
        <li><a href="#"><i class="icon-user"></i> Bobby Yit</a></li>
        <li><a href="#"><i class="icon-user"></i> Ralph Dameilda</a></li>
        <li><a href="#"><i class="icon-user"></i> Quang Tran</a></li>
        <li><a href="#"><i class="icon-user"></i> Joe Zhu Shemale</a></li>
    </ul>
{% endblock left1 %}

{% block left2 %}
    <legend>Notes</legend>
    <div class="accordion" id="accordion2">
        {% for i in range(0, 6) %}
            {% set notetype =  random(['success', 'warning', 'important', 'info']) %}
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse"
                       data-parent="#accordion2" href="#collapse{{ i }}">
                        <span class="badge badge-{{ notetype }}"> {{ notetype }}</span>
                        <div class="pull-right">
                            <i class="icon-calendar"></i> {{ "now"|date("d-m-y") }}
                        </div>
                    </a>
                </div>
                <div id="collapse{{ i }}" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <p>
                            Nam justo massa, dictum at varius eu, eleifend in massa. Quisque dictum egestas mi vitae blandit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis dolor orci, hendrerit ultrices mollis et, dignissim sit amet massa. Nam enim tellus, tincidunt at sollicitudin nec, fermentum at nulla. Integer eget magna turpis, nec placerat massa. Nulla sodales lorem magna.
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock left2 %}