{% extends 'static/base.twig' %}

{% block content %}
    <div class="span6">
        {% for error in errors %}
            {% block error %}
                <div id="error">{{ error }}</div></br>
            {% endblock %}
        {% endfor %}

        <form action="{{ apppath }}household" method="POST" id="view-household-form">

            <legend>
                ID: HH100232
                <div class='pull-right'>
                    <span class="label label-success"><i class="icon-tags icon-white"></i> 1</span>
                    <span class="label label-warning"><i class="icon-tags icon-white"></i> 2</span>
                    <span class="label label-important"><i class="icon-tags icon-white"></i> 3</span>
                    <span class="label label-info"><i class="icon-tags icon-white"></i> 1</span>
                </div>
            </legend>

            {% include 'base.form.part.twig' %}

            {% include 'information.form.part.twig' %}

            {% include 'address.form.part.twig' %}


            <legend>Action</legend>
            <div class="btn-toolbar">
                <button class="btn btn-warning btn-large" data-toggle="button" class-toggle="btn-state" name="modify-household-btn" type="button">
                    <i class="icon-edit icon-white"></i> Modify
                </button>

                <button class="btn btn-danger btn-large"
                        name="deactivate-household-btn" type="button">
                    <i class="icon-remove icon-white"></i> Deactivate
                </button>

                <button class="btn btn-primary btn-large"
                        data-toggle="modal" data-target="#add-flag-modal">
                    <i class="icon-flag icon-white"></i> Flag
                </button>
            </div>

            <input type="hidden" name="household-id" value="{{ household["household_id"] }}"/>
            <input type="hidden" name="member-id" value="{{ household["member-id"] }}"/>

        </form>

        {% include 'addmember.modal.twig' %}
        {% include 'addflag.modal.twig' %}
    </div>
{% endblock content %}

{# This part should be auto generated #}

{% block left1 %}
    <div class="span3">
        <legend>Dependents</legend>
        <div class="well" id="dependents-well">
            <ul class="nav nav-list" id="dependent-list">
                {% for member in household.members %}
                    {% if(member.principal and member.active) %}
                        <li class="active"><a href="{{ apppath }}/household/{{ household.household_id}}/{{ member["member-id"]}}">
                                <i class="icon-home"></i> {{member["first-name"] }} {{ member["last-name"]}}</a></li>

                    {% elseif member.active %}
                        <li class="active"><a href="{{ apppath }}/household/{{ household.household_id}}/{{ member["member-id"]}}">
                                <i class="icon-user"></i> {{member["first-name"] }} {{ member["last-name"]}}</a></li>

                    {% elseif member.principal %}
                        <li><a href="{{ apppath }}/household/{{ household.household_id}}/{{ member["member-id"]}}">
                                <i class="icon-home"></i> {{member["first-name"] }} {{ member["last-name"]}}</a></li>

                    {% else%}
                        <li><a href="{{ apppath }}/household/{{ household.household_id}}/{{ member["member-id"]}}">
                                <i class="icon-user"></i> {{member["first-name"] }} {{ member["last-name"]}}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="well">
            <button class="btn btn-success btn-block btn-large" id="create-member-submit-btn"
                    name="create-member-submit-btn" type="button"
                    data-toggle="modal" data-target="#add-member-modal">
                <i class="icon-plus icon-white"></i><i class="icon-user icon-white"></i> Add New Member
            </button>
        </div>
    </div>
{% endblock left1 %}

{% block left2 %}
    <div class="span3">
        <div class="tabbable tabs-below">
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <legend>Events</legend>

                    <div class="accordion" id="accordion2">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                    Collapsible Group Item #1
                                </a>
                            </div>
                            <div id="collapseOne" class="accordion-body collapse in">
                                <div class="accordion-inner">
                                    Anim pariatur cliche...
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane" id="tab2">
                    <legend>Flags</legend>
                    <div class="accordion" id="flag-accordion">
                        {% for i in range(0, random(6) + 1) %}
                        {% set notetype = random(['success', 'warning', 'important', 'info']) %}
                        {% set alerttype =
                            {
                                'success': 'alert-success',
                                'warning': '',
                                'important': 'alert-error',
                                'info': 'alert-info'
                            }
                        %}
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                {# TSK TSK TSK! QUICK STYLE HACK! MUST CORRECT! #}
                                <div class="alert {{ alerttype[notetype] }}" style="padding: 0px; margin: 0px;">
                                    <a class="accordion-toggle" data-toggle="collapse"
                                       data-parent="#flag-accordion" href="#collapse{{ i }}">
                                        <strong>{{ "now"|date("d-m-y") }}</strong>
                                        <div class="pull-right">
                                            <span class="label label-{{ notetype }}"><i class="icon-tag icon-white"></i> {{ notetype }}</span>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div id="collapse{{ i }}" class="accordion-body collapse">
                                <div class="accordion-inner" style="padding: 0px">

                                    <div class="alert {{ alerttype[notetype] }}" style="margin: 0px;">
                                    <p>
                                        Nam justo massa, dictum at varius eu, eleifend in massa. Quisque dictum egestas mi vitae blandit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis dolor orci, hendrerit ultrices mollis et, dignissim sit amet massa. Nam enim tellus, tincidunt at sollicitudin nec, fermentum at nulla. Integer eget magna turpis, nec placerat massa. Nulla sodales lorem magna.
                                    </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab"><i class="icon-calendar"></i> Events</a></li>
                <li><a href="#tab2" data-toggle="tab"><i class="icon-flag"></i> Flags</a></li>
            </ul>
        </div>
    </div>
{% endblock left2 %}
