{% extends 'static/base.twig' %}

{% block content %}
    <div class="span6">
        {% for error in errors %}
            {% block error %}
                <div id="error">{{ error }}</div></br>
            {% endblock %}
        {% endfor %}

        <form action="{{ apppath }}household" method="POST" id="view-household-form">

            <legend>
                ID: HH100232
                <div class='pull-right'>
                    <span class="badge badge-success"><i class="icon-tags icon-white"></i> 1</span>
                    <span class="badge badge-warning"><i class="icon-tags icon-white"></i> 2</span>
                    <span class="badge badge-important"><i class="icon-tags icon-white"></i> 3</span>
                    <span class="badge badge-info"><i class="icon-tags icon-white"></i> 1</span>
                </div>
            </legend>

            {% include 'base.form.part.twig' %}

            {% include 'information.form.part.twig' %}

            {% include 'address.form.part.twig' %}


            <legend>Action</legend>
            <div class="btn-toolbar">
                <button class="btn btn-warning btn-large" data-toggle="button" class-toggle="btn-state" name="modify-household-btn" type="button">
                    <i class="icon-edit icon-white"></i> Modify
                </button>

                <button class="btn btn-danger btn-large"
                        name="deactivate-household-btn" type="button">
                    <i class="icon-remove icon-white"></i> Deactivate
                </button>

                <button class="btn btn-primary btn-large"
                        data-toggle="modal" data-target="#add-flag-modal">
                    <i class="icon-flag icon-white"></i> Flag
                </button>
            </div>

            <input type="hidden" name="household-id" value="{{ household["household_id"] }}"/>
            <input type="hidden" name="member-id" value="{{ household["member-id"] }}"/>

        </form>

        {% include 'addmember.modal.twig' %}
        {% include 'addflag.modal.twig' %}
    </div>
{% endblock content %}

{# This part should be auto generated #}

{% block left1 %}
    <div class="span3">
        <legend>Dependents</legend>
        <div class="well" id="dependents-well">
            <ul class="nav nav-list" id="dependent-list">
                {% for member in household.members %}
                    {% if(member.principal and member.active) %}
                        <li class="active"><a href="{{ apppath }}/household/{{ household.household_id}}/{{ member["member-id"]}}">
                                <i class="icon-home"></i> {{member["first-name"] }} {{ member["last-name"]}}</a></li>

                    {% elseif member.active %}
                        <li class="active"><a href="{{ apppath }}/household/{{ household.household_id}}/{{ member["member-id"]}}">
                                <i class="icon-user"></i> {{member["first-name"] }} {{ member["last-name"]}}</a></li>

                    {% elseif member.principal %}
                        <li><a href="{{ apppath }}/household/{{ household.household_id}}/{{ member["member-id"]}}">
                                <i class="icon-home"></i> {{member["first-name"] }} {{ member["last-name"]}}</a></li>

                    {% else%}
                        <li><a href="{{ apppath }}/household/{{ household.household_id}}/{{ member["member-id"]}}">
                                <i class="icon-user"></i> {{member["first-name"] }} {{ member["last-name"]}}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="well">
            <button class="btn btn-success btn-large" id="create-member-submit-btn"
                    name="create-member-submit-btn" type="button"
                    data-toggle="modal" data-target="#add-member-modal">
                <i class="icon-plus icon-white"></i><i class="icon-user icon-white"></i> Add Member
            </button>
        </div>
    </div>
{% endblock left1 %}

{% block left2 %}
    <div class="span3" style="height: 450px"><!-- MESSY CSS!! DONT DO THAT. TO BE CORRECTED ON LIVE. -->
        <div class="tabbable tabs-below" style="height: 450px"><!-- Only required for left/right tabs -->
            <div class="tab-content" style="height: 450px">
                <div class="tab-pane active" id="tab1" style="height: 450px">
                    <legend>Events</legend>
                    <p>Howdy, I'm in Section 2.</p>
                </div>
                <div class="tab-pane" id="tab2">
                    <legend>Flags</legend>
                    {% for i in range(0, random(4) + 1) %}
                        {% set type = random(['success', 'warning', 'info', 'important']) %}
                        <div class="alert alert-{{ type }} notes" data-toggle="popover" data-placement="left" data-content="Vivamus" title="Popover on top">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <span class="badge badge-{{ type }}">
                                <i class="icon-tag icon-white"></i> <strong>{{ type|capitalize }}</strong>
                            </span>
                            <div class="pull-right">
                                <strong>{{ "now"|date('m-d-y') }}</strong>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab"><i class="icon-calendar"></i> Events</a></li>
                <li><a href="#tab2" data-toggle="tab"><i class="icon-flag"></i> Flags</a></li>
            </ul>
        </div>
    </div>
{% endblock left2 %}
