{% extends 'static/base.twig' %}

{% block content %}
    <div class="span6">
        {% for error in errors %}
            {% block error %}
                <div id="error">{{ error }}</div></br>
            {% endblock %}
        {% endfor %}

        <form action="{{ apppath }}household" method="POST" id="view-household-form">
            <input type="hidden" name="household-id" value="{{ household["household_id"] }}"/>
            <input type="hidden" name="member-id" value="{{ household["member-id"] }}"/>
            <legend>ID: HH100232</legend>

            {% include 'base.form.part.twig' %}

            {% include 'information.form.part.twig' %}

            {% include 'address.form.part.twig' %}


            <legend>Action</legend>
            <div class="btn-toolbar">
                <button class="btn btn-success btn-large" id="create-member-submit-btn"
                        name="create-member-submit-btn" type="button"
                        data-toggle="modal" data-target="#create-member-modal">
                    <i class="icon-plus icon-white"></i><i class="icon-user icon-white"></i> Add Member
                </button>

                <button class="btn btn-warning btn-large" data-toggle="button" class-toggle="btn-state" name="modify-household-btn" type="button">
                    <i class="icon-edit icon-white"></i> Modify
                </button>

                <button class="btn btn-danger btn-large"
                        name="deactivate-household-btn" type="button">
                    <i class="icon-remove icon-white"></i> Deactivate
                </button>
            </div>

        </form>

        {% include 'addmember.modal.twig' %}

    </div>
{% endblock content %}


{# This part should be auto generated #}

{% block left1 %}
    <div class="span3">
        <legend>Dependents</legend>
        <ul class="nav nav-pills nav-stacked" id="dependent-list">

            {% for member in household.members %}
                {% if(member.principal and member.active) %}
                    <li class="active" id="t8"><a onclick="selectChange(t8)" href="{{ apppath }}/household/{{ household.household_id}}/{{ member["member-id"]}}">
                        <i class="icon-home"></i>{{member["first-name"] }}{{ member["last-name"]}}</a></li>

                {% elseif member.active %}
                    <li class="active" id="t8"><a onclick="selectChange(t8)" href="{{ apppath }}/household/{{ household.household_id}}/{{ member["member-id"]}}">
                        <i class="icon-user"></i>{{member["first-name"] }}{{ member["last-name"]}}</a></li>

                {% elseif member.principal %}
                    <li class="" id="t8"><a onclick="selectChange(t8)" href="{{ apppath }}/household/{{ household.household_id}}/{{ member["member-id"]}}">
                        <i class="icon-home"></i>{{member["first-name"] }}{{ member["last-name"]}}</a></li>

                {% else%}
                    <li class="" id="t8"><a onclick="selectChange(t8)" href="{{ apppath }}/household/{{ household.household_id}}/{{ member["member-id"]}}">
                        <i class="icon-user"></i>{{member["first-name"] }}{{ member["last-name"]}}</a></li>
                {% endif %}
            {% endfor %}
        </ul>



    </div>
{% endblock left1 %}

{% block left2 %}
    <div class="span3">
        <legend>Notes</legend>
        <div class="accordion" id="accordion2">
            {% for i in range(0, 6) %}
                {% set notetype =  random(['success', 'warning', 'important', 'info']) %}
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse"
                           data-parent="#accordion2" href="#collapse{{ i }}">
                            <span class="badge badge-{{ notetype }}"> {{ notetype }}</span>
                            <div class="pull-right">
                                <i class="icon-calendar"></i> {{ "now"|date("d-m-y") }}
                            </div>
                        </a>
                    </div>
                    <div id="collapse{{ i }}" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <p>
                                Nam justo massa, dictum at varius eu, eleifend in massa. Quisque dictum egestas mi vitae blandit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis dolor orci, hendrerit ultrices mollis et, dignissim sit amet massa. Nam enim tellus, tincidunt at sollicitudin nec, fermentum at nulla. Integer eget magna turpis, nec placerat massa. Nulla sodales lorem magna.
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock left2 %}
