{% block information %}

    <fieldset>
        <legend>Information</legend>
        <div class="controls controls-row">
            <input class="span4 help" maxlength="{{ 3 * 4 + 2 }}" type="text"
                   data-toggle="popover" data-content="Go ahead enter the medicare number. The Age, Gender, and Date of Birth will be automatically filled in for you."
                   name="mcare-number" placeholder="Medical Care" value="{{ household["medicare-number"] }}"/>
            <input class="span4" type="text" name="work_status"
                   placeholder="Work Status" maxlength="2" value="{{ household["work-status"] }}"/>
            <input class="span4" maxlength="{{ 3 * 4 + 2 + 3 }}"
                   type="text" name="welfare-number" placeholder="Welfare Number"
                   value="{{ household["welfare-number"] }}"/>
        </div>

        <div class="controls controls-row">
            <input class="span4" type="text" data-link="country" name="origin" autocomplete="off"
                   placeholder="Country of Origin" value="{{ household["origin"] }}"/>
            <input class="span4" type="text" data-link="language" name="mother-tongue" autocomplete="off"
                   placeholder="Mother Tongue" value="{{ household["mother-tongue"] }}"/>
            <input class="span4" type="text" data-link="language" autocomplete="off"
                   name="language" placeholder="Language" value="{{ household["language"] }}"/>
            <input type="hidden" value="" name="date-of-birth">
            <input type="hidden" name="first-visit-date" value="{{ household["first-visit-date"] }}"/>

        </div>

        <div class="controls controls-row">
            <input class="span2" type="text" maxlength="1" name="gender"
                   placeholder="Gender" value="{{ household["gender"] }}"/>
            <input class="span2" maxlength="2" type="text" name="marital-status"
                   placeholder="Marital" value="{{ household["marital"] }}"/>
            <input class="span4" type="text" name="referral"
                   placeholder="Referral" value="{{ household.referral }}"/>
            <input class="span4" type="text" name="income"
                   placeholder="Annual Income" value="{{ household["income"] }}"/>
        </div>
    </fieldset>
{% endblock information %}
