{% extends 'static/base.twig' %}

{% block content %}


    {% for error in errors %}
        {% block error %}
            <div id="error">{{ error }}</div></br>
        {% endblock %}
    {% endfor %}
    
   <fieldset class="regis"> 
        <legend><h1> Registration </h1></legend>
    <form action="create" method="POST" name="member_create">
        <div style = "pers" >
            <h3>Personal Information</h3>
            <ul>
                <li><input type="hidden" name="household_id" placeholder="Household Id" value="{{ household_id }}"/>
                <li><input type="text" name="first_name" placeholder="First Name" value="{{form["first_name"]}}"/>
                <li><input type="text" name="last_name" placeholder="Last Name" value="{{form["last_name"]}}"/>
                <li><input type="text" name="language" placeholder="Spoken Language" value=""/>
                <li><input type="text" name="work_status" placeholder="Work Status" value="{{form["work_status"]}}"/>
                <li><input type="text" name="welfare_number" placeholder="Welfare Number" value="{{form["welfare_number"]}}"/>
                <li><input type="text" name="phone_number" placeholder="Phone Number" value="{{form["phone_number"]}}" />
                <li><input type="text" name="medicare" placeholder="Medicare" value="{{form["medicare"]}}"/>
                <li><input type="text" name="referal" placeholder="Referal" value="{{form["referal"]}}"/>

                <br />
                    <select name="marital">
                        <option disabled selected="selected">Marital Status</option>
                        <option>Single</option>
                        <option>Married</option>
                        <option>Divorced</option>
                        <option>Widowed</option>
                        <option>Common Law</option>
                    </select>
                <br />
                    {% include 'static/origin.twig' %}

                <br />

        </ul>
    </div>
       
        <input type="hidden" name="member_create_form" value="TRUE" />
        <button class="action blue submit">
            <span class="label">Add Member</span>
        </button>
    
    </form>
</fieldset>
{% endblock content %}


