{% extends 'static/base.twig' %}

{% block content %}
    <div class="span4">
		<legend class='controls controls-row'>
		<h2> Yearly Reporting </h2>
		</legend>
		
		<div class="well" id="yearly-well">
		<form action ="{{ apppath }}{{ formAction }}" method="POST" name="stat-form"
		id = "stat-form"> 
		
		<select class=''>
			<option>{{ event["name"]}}</option>
		</select>
		<br /><br />
		<input type="hidden" name="event-id" value="{{ event["event-id"] }}"/>
		<input type = "radio"> Annual 
		<input type = "radio"> Fiscal
		

		<br /><br />
		<button id="generate-year-report" type="button" class="btn btn-medium btn-success"><i class="icon-tasks icon-white"></i> Generate Report</button>
		<button id="excel-year-report" type="button" class="btn btn-medium btn-info"><i class="icon-tasks icon-white"></i> Export Excel</button>
		<button id="pdf-year-report" type="button" class="btn btn-medium btn-info"><i class="icon-tasks icon-white"></i> Export PDF</button>
		</form>
		</div>
		
		<br /><br /><br /><br /><br /><br /><br /><br />
		
		<legend class='controls controls-row'>
		<h2> Monthly Reporting </h2>
		</legend>
		<div class="well" id="monthly-well">
		<form action ="{{ apppath }}{{ formAction }}" method="POST" name="stat-form"
		id = "stat-form"> 
		
		<select class=''>
			<option>Food Drive</option>
			<option>Christmas Basket</option>
		</select>
		<select class=''>
			<option>January</option>
			<option>February</option>
			<option>March</option>
			<option>April</option>
		</select>
		
		<br /><br />
		<button id="generate-year-report" type="button" class="btn btn-medium btn-success"><i class="icon-tasks icon-white"></i> Generate Report</button>
		<button id="excel-year-report" type="button" class="btn btn-medium btn-info"><i class="icon-tasks icon-white"></i> Export Excel</button>
		<button id="pdf-year-report" type="button" class="btn btn-medium btn-info"><i class="icon-tasks icon-white"></i> Export PDF</button>
		</form>
		</div>
	</div>
{% endblock content %}

{% block left1 %}
	<div class="span4">
		<legend class='controls controls-row'>
		<h1> Ad-Hoc </h1>
		</legend>
		<div class="well" id="adhoc-well">
		<select class=''>
			<option>Food Drive</option>
			<option>Christmas Basket</option>
		</select>
		
		<br /><br />
		<input type="checkbox" name="gender"> Gender <br />
		<input type="checkbox" name="gender"> Age <br />
		<input type="checkbox" name="gender"> Income <br />
		<input type="checkbox" name="gender"> Origin <br />
		<input type="checkbox" name="gender"> Language <br />
		
		<br /><br />
		<button id="generate-year-report" type="button" class="btn btn-medium btn-success"><i class="icon-tasks icon-white"></i> Generate Report</button>
		<button id="excel-year-report" type="button" class="btn btn-medium btn-info"><i class="icon-tasks icon-white"></i> Export Excel</button>
		<button id="pdf-year-report" type="button" class="btn btn-medium btn-info"><i class="icon-tasks icon-white"></i> Export PDF</button>
		</form>
		</div>
		
	</div>
{% endblock left1 %}

{% block left2 %}

	<div class="span4">
		<legend class='controls controls-row'>
		<h2> Quick Statistics </h2>
		</legend>
		
		<div class="well" id="adhoc-well">
			<ul class="nav nav-list" id="date-list">
				<li class="active"><a href=""> 5 Events this week</a>
				<li class=""><a href=""> 30 Households with critical flags</a>
				<li class=""><a href=""> Etc... </a>
			</ul>
		</div>
	</div>
{% endblock left2 %}