{% block timeslot %}
    <fieldset>
        <legend>
            Time Slots
            <div class="pull-right">
                <button id="add-timeslot-table" type="button" class="btn btn-small btn-info"><i class="icon-file icon-white"></i> Add Timeslot</button>
            </div>
        </legend>
            <div id="timeslot-well" style="max-height:500px; overflow-y: auto;">
                <form action="{{ apppath }}event/new" method="POST" name="view-timeslot-form" id="{{ timeslots? 'timeslot-form' : 'new-timeslot-form'}}">
                    <table id="timeslot-table" class="table">
                          <thead>
                              <th> Time Slot </th>
                              <th> Duration </th>
                              <th> Capacity </th>
                              <th> Participant </th>
                          </thead>
                          <tbody id="timeslot-table-tbody">
                            {% for timeslot in timeslots %}
                                <input class="span" type="hidden" name="slot-id[]" value="{{ timeslot.id }}"/>
                                <tr>                                 
                                    <td>
                                        <input class="span" type="text" name="slot-name[]" value="{{ timeslot.name }}"/>
                                    </td>
                                    <td>
                                        <input class="span5" type="number" name="slot-duration[]" value="{{ timeslot.duration }}"/>
                                    </td>
                                    <td>
                                        <input class="span" type="text" name="slot-capacity[]" value="{{ timeslot.capacity }}"/>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% if not timeslots %}
                                <input class="span" type="hidden" name="slot-id[]" value=""/>
                                <tr>          
                                    <td>
                                        <input class="span" type="text" name="slot-name[]" placeholder="Name"/>
                                    </td>
                                    <td>
                                        <input class="span5" type="number" name="slot-duration[]" placeholder="Minutes"/>
                                    </td>
                                    <td>
                                        <input class="span" type="text" name="slot-capacity[]" placeholder="Capacity"/>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                             {% endif %}  
                          </tbody>
                     </table>
                     *Note:Drag the Timeslot to reorder.
                </form>
            </div>
    </fieldset>
<script>
     var tableDnD = new TableDnD();
     var table = document.getElementById('timeslot-table');
     tableDnD.init(table);
</script>
{% endblock timeslot %}